<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3>캠핑장 목록</h3>
			<div class="col-md-3" th:each="vo:${list}">
				<div class="thumbnail">
				<a th:href="@{detail(cno=${vo.cno})}">
					<img th:src="@{${vo.poster}}" style="width:230px;height:120px">
					<div class="caption">
						<p th:text="${vo.title}"></p>
					</div>
				</a>
				</div>
			</div>
		</div>
		<div class="row text-center" style="margin-top: 20px">
			<ul class="pagination">
				<li th:if="${startPage>1}"><a th:href="@{list(page=${startPage-1})}">&lt;</a></li>
				<li th:class="${curpage==i}?'active':''" th:each="i:${#numbers.sequence(startPage,endPage)}"><a th:href="@{list(page=${i})}" th:text="${i}"></a></li>
				<li th:if="${endPage<totalpage}"><a th:href="@{list(page=${endPage+1})}">&gt;</a></li>
			</ul>
			<br>
			<span class="text-center">[[${curpage}]] page / [[${totalpage}]] pages</span>
		</div>
	</div>
</body>
</html>